{
  "extends": [
    "kentcdodds",
    "kentcdodds/react",
    "kentcdodds/jest",
    "kentcdodds/jsx-a11y",
    "kentcdodds/prettier",
  ],
  "rules": {
    "import/newline-after-import": "off",
    "import/no-unassigned-import": "off",
    "import/prefer-default-export": "off",
    "no-console": "off",
    "func-names": "off",
    "complexity": ["error", 8],
    "babel/new-cap": "off",
    "consistent-return": "off",
    "func-style": "off",
    "react/prop-types": "off",
    "react/jsx-max-props-per-line": "off",
    "jsx-a11y/no-marquee": "off",
    "no-return-assign": "off",
    "jest/no-disabled-tests": "off",
  }
}
