{
  "extends": [
    "kentcdodds",
    "kentcdodds/react",
    "kentcdodds/jest",
    "kentcdodds/jsx-a11y",
  ],
  "rules": {
    "max-len": [
      2,
      80
    ],
    "import/newline-after-import": "off",
    "import/no-unassigned-import": "off",
    "no-console": "off",
    "func-names": "off",
    "complexity": ["error", 8],
    "babel/new-cap": "off",
    "consistent-return": "off",
    "func-style": "off",
    "react/prop-types": "off",
  }
}
