.DS_Store
node_modules
package-lock.json
coverage
build
.DS_Store
.env
*.log
npm-debug.log*
.mongo-db
.e2e
cypress/videos
cypress/screenshots
dist
.opt-in
.eslintcache
/client/other/shared
/server/other/shared
/other/configuration/calculator/cypress/videos
/other/configuration/calculator/cypress/screenshots
/other/configuration/calculator.solution/cypress/videos
/other/configuration/calculator.solution/cypress/screenshots
