{
  "globals": {
    "cy": false,
    "Cypress": false,
  },
  "env": {
    "mocha": true,
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "no-unused-vars": "off",
  }
}
