// FINAL_START
{
  "globals": {
    "cy": false,
    "Cypress": false,
  },
  "rules": {
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "jest/no-identical-title": "off",
  }
}
// FINAL_END
